In [1]:
import re

text = "I love programming in Python. Python is great."
pattern = r"Python"

new_text = re.sub(pattern, "Java", text)
print("Modified text:", new_text)

Modified text: I love programming in Java. Java is great.

In [13]:
#Extracting a number(int) from a string
import re

pattern = re.compile(r"\d{3}-\d{2}-\d{4}")
text = "My SSN is 123-45-6789 and yours is 987-65-4321."

matches = pattern.findall(text)
for match in matches:
    print("SSN found:", match)

SSN found: 123-45-6789
SSN found: 987-65-4321

In [16]:
text = "The model number is 534" 
pattern = re.compile(r"\d{3}")

matches = pattern.findall(text)
for i in matches:
    print("Model Number" , i)

Model Number 534

In [17]:
import pandas as pd

data = {
    'Model': ['Toyota', 'Honda', 'Ford', 'Chevrolet', 'BMW'],
    'Price': ['$25,000.00', '$22,000.00', '$20,500.00', '$23,500.00', '$45,000.00']
}

car_prices_df = pd.DataFrame(data)

# If you want to remove the '$' and convert the 'Price' column to a numeric format (float), you can use the following code:
car_prices_df['Price'] = car_prices_df['Price'].str.replace('[\$\,]', '', regex=True).astype(float)

print(car_prices_df)

       Model    Price
0     Toyota  25000.0
1      Honda  22000.0
2       Ford  20500.0
3  Chevrolet  23500.0
4        BMW  45000.0

In [4]:
import pandas as pd
import numpy as np

# Create a 2D array (NumPy array)
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Convert the 2D array to a DataFrame
df = pd.DataFrame(data, columns=['A', 'B', 'C'])

# Use iloc to extract specific columns
selected_columns = df.iloc[:, [0,1]]

# Display the result
print(selected_columns)

   A  B
0  1  2
1  4  5
2  7  8

In [3]:
# Create a 2D array (NumPy array)
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Convert the 2D array to a DataFrame
df = pd.DataFrame(data, columns=['A', 'B', 'C'])

# Extract the specific columns
selected_columns = df.iloc[:, [0, 2]]

# Rename the columns
selected_columns.columns = ['z', 'x']

# Display the result
print(selected_columns)
df

   z  x
0  1  3
1  4  6
2  7  9

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9