In [1]:
import sklearn
import pandas as pd 
import numpy as np 
cars_missing = pd.read_csv("car-sales-extended-missing-data.csv")
cars_missing.dropna(subset = ['Price'] , inplace = True)

In [2]:
x = cars_missing.drop('Price' , axis=1)
y = cars_missing['Price']

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [4]:
cat_imputer = SimpleImputer(strategy="constant" , fill_value = 'missing')
door_imputer = SimpleImputer(strategy='constant' , fill_value=4)
num_imputer = SimpleImputer(strategy='mean')

In [5]:
cat_features = ['Make' , 'Colour']
door_feature = ['Doors']
num_feature = ['Odometer (KM)']

In [6]:
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, num_feature)
])
filled_x = imputer.fit_transform(x)
#remember that filled_x is a NumPy array and we need to convert it into a dataframe to use it in OneHotEncoding , as OneHotEncoder uses noly dataframe as input

In [7]:
car_filled = pd.DataFrame(filled_x , columns =  ['Make' , 'Colour' , 'Doors' , 'Odometer'])
car_filled

        Make Colour Doors  Odometer
0      Honda  White   4.0   35431.0
1        BMW   Blue   5.0  192714.0
2      Honda  White   4.0   84714.0
3     Toyota  White   4.0  154365.0
4     Nissan   Blue   3.0  181577.0
..       ...    ...   ...       ...
945   Toyota  Black   4.0   35820.0
946  missing  White   3.0  155144.0
947   Nissan   Blue   4.0   66604.0
948    Honda  White   4.0  215883.0
949   Toyota   Blue   4.0  248360.0

[950 rows x 4 columns]

In [8]:
#Now that we have filled all the missing values using sklearn , its time to convert all the non-numerical values to numerical values using OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make' , 'Colour' , 'Doors']
one_hot = OneHotEncoder()

transformer = ColumnTransformer([('One_Hot' , one_hot , categorical_features)] , remainder = 'passthrough')

transformed_x = transformer.fit_transform(car_filled)

In [9]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
clf = RandomForestRegressor(n_estimators=100)
clf.get_params()
x_train , x_test , y_train , y_test = train_test_split(transformed_x,y,test_size=0.2)
clf.fit(x_train,y_train)
clf.score(x_test , y_test)

0.2477433389831295